<!doctype html>
%html{:lang => "ja"} 
    %head 
        %meta{:charset => "UTF-8"}/ 
        %title Sinatra+D3s
        %script{:src => "js/jquery-2.1.0.min.js"} 
        %script{:src => "js/d3.js"}
        %script{:src => "js/graph.js"}
        %script{:src => "javascript/graph.js"}
        %link{:rel => "stylesheet", :href => "stylesheets/style.css"}/
    %body.body--d3
        %h1 Sinatra+D3
        #graph1
    